.App {
    text-align: center;
    font-family: 'roboto', sans-serif;
    font-size: 20px;
    /* background-color: rgb(239, 238, 255); */
}

/* header component */
.logo {
    width: 50%;
    margin-top: 15%;

}
.new-room {
    font-family: 'Pacifico', Helvetica, sans-serif;
    font-size: 50px;
    color: rgb(255, 255, 255);

}
/* CreateRoom component */
.col-md-6 {
    margin: 3%;
}

.link-to-room {
    padding: 10%;
}

/* survey component */
.nameSelection {
    margin: 5%;
}

/* ResponseRoom component */
.col-md-8 {
    margin-top: 2%;
}

.no-user-response {
    color: rgb(224, 75, 75);
    font-style: italic;
}

.unstyled {
    list-style-type: none;
}



.name-style {
    list-style-type: none;
    font-weight: bold;
}

.justified {
    text-align: left;
}

.question-style {
    font-weight: bold;
    font-style: italic;
}

.centered {
    text-align: center;
}

.question-container {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 2px;
    border-style: outset;
}


