.App {
    text-align: center;
    font-family: 'roboto', sans-serif;
    font-size: 20px;
    /* background-color: rgb(239, 238, 255); */
}

/* header component */
.logo {
    width: 50%;
    margin-top: 15%;

}

/* CreateRoom component */
.col-md-6 {
    margin: 2%;
}

/* survey component */
.nameSelection {
    margin: 5%;
}


.questions-list {
    display: inline-block;
}

/* ResponseRoom component */
.col-md-8 {
    margin-top: 2%;
}

.no-user-response {
    color: rgb(224, 75, 75);
    font-style: italic;
}
.response-questions {
    text-decoration-line: underline;
    text-decoration-style: dotted;
}
.unstyled {
    list-style-type: none;
}

.user-name {
    list-style-type: none;
    font-weight: bold;
}

.justified {
    text-align: left;
}




