.App {
    text-align: center;
    font-family: 'roboto', sans-serif;
    font-size: 20px;
    /* background-color: rgb(239, 238, 255); */
}

/* header component */
.logo {
    width: 50%;
    margin-top: 15%;

}

/* CreateRoom component */
.col-md-6 {
    margin: 5%;
}

/* survey component */
.survey-input {

}
  .questions-list {
    display: inline-block;
  }

  .justified {
    text-align: left;
  }

  .unstyled {
      list-style-type: none;
  }


